<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css">
    <link rel="stylesheet" href="{{ './css/base.css' | url }}">
    <link rel="icon" href="{{ './img/icon.svg' | url }}" type="image/svg+xml">

    <title>{{ title }} | NLP2022 Workshop on Japanese Evaluation Dataset</title>

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:site_name" content="Japanese Evaluation Dataset Workshop" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://jedworkshop.github.io/jed2022/img/icon.png">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:alt" content="JED" />
    <meta name="twitter:card" content="summary" />
</head>
<body>
    <header><a href="/">NLP2022 Workshop on Japanese Evaluation Dataset (JED2022)</a></header>
    <main>
        <div class="subheading">
            {{ description }}
        </div>
        {{ content | safe }}
    </main>
    <footer>Copyright &copy; <a href="https://github.com/jedworkshop/">Japanese Evaluation Dataset Workshop. All rights reserved.</a></footer>
</body>
</html>