<div class="session" id="{{ session_data.title }}">
    <h2>{{ session_data.title }}</br><small>{{ session_data.time }}</small> &nbsp; <small>{{ session_data.chair }}</small></h2>

    <div class="talk_list">
        {%- for talk in session_data.talks -%}
            <div class="talk {{ talk.type }}">
                <div class="icon {{ talk.type }}"></div>
                <div class="info">
                    <div class="time">{{ talk.time }}</div>
                    <div class="title">{{ talk.title }}</div>
                    <div class="presenter">{{ talk.presenter }}</div>
                </div>
                {% if talk.abstract %}
                    <div class="btn_abstract" data-target=".abstract.talk_{{ talk.id }}">概要</div>
                {% else %}
                    <div class="btn_abstract disabled">概要</div>
                {% endif %}
                {% if talk.material %}
                    <a href="{{ ('/materials/' + talk.material) | url }}" target="_blank" rel="noreferrer"><div class="btn_material">資料</div></a>
                {% else %}
                    <div class="btn_material disabled">資料</div>
                {% endif %}
            </div>
            {% if talk.abstract %}
                <div class="abstract talk_{{ talk.id }}">
                    {{ talk.abstract | safe }}
                </div>
            {% endif %}
    {%- endfor -%}
    </div>
</div>