:root {
    --c-background: #F6EABE;
    --c-text: #313131;
    --c-text-link: #3C5186;
}

body {
    background-color: var(--c-background);
    color: var(--c-text);
}

a {
    color: var(--c-text-link);
}
a:hover {
    text-decoration: none;
}

header {
    margin: 0;
    text-align: center;
    font-size: 0.95em;
    color: var(--c-background);
    background-color: var(--c-text);
    padding: 0.5em 0;
    margin-bottom: 3em;
}
header a {
    color: var(--c-background);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 4em;
    margin-bottom: 1em;
    text-align: center;
    opacity: 0.8;
}
footer a {
    color: var(--c-text);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0.5em;
}

main .subheading {
    font-size: 1.1em;
    letter-spacing: 0;
    font-weight: 900;
    opacity: 0.8;
}

main h1 {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 0.5em;
    text-align: left;
}

main h2 {
    margin-top: 2.0em;
    font-size: 1.4em;
    border-left: 10px solid var(--c-text);
    padding-left: 0.4em;
    border-bottom: 1px solid var(--c-text);
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}
main h2 a {
    text-decoration: none;
}
main h2 a:hover {
    text-decoration: underline;
}


main h3 {
    margin-top: 1.5em;
    font-size: 1.2em;
}

main ul li small {
    font-size: 0.85em;
    opacity: 0.9;
}

main .heading-anchor {
    color: var(--c-text);
    text-decoration-line: none;
    display: none;
}
main h2:hover .heading-anchor {
    display: inline;
}
main h3:hover .heading-anchor {
    display: inline;
}

#sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.sponsor-item {
    margin-bottom: 1.5em;
}
.sponsor-item-blank {
    width: 260px;
    height: 1px;
}
#sponsors .sponsor-item .logo {
    width: 246px;
    height: 246px;
    background-color: #fff;
    border: 1px solid rgba(31,31, 31, 0.25);
    border-radius: 12px;
    padding: 5px;
    margin: 7px;
    margin-top: 0px;
    text-align: center;
}
#sponsors .sponsor-item .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#sponsors .sponsor-item a {
    text-decoration: none;
}
#sponsors .sponsor-item .text {
    font-size: 0.9em;
}
#sponsors .sponsor-item:hover .logo {
    border: 1px solid rgba(31,31, 31, 1);
}
#sponsors .sponsor-item:hover a {
    text-decoration: underline;
}

.expired,.expired a {
    opacity: 0.5;
}


/* プログラムテーブル */
table#program_table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
}
#program_table tr {
    border-bottom: 1px solid rgba(31,31,31,.25);
}
#program_table tr:last-child {
    border-bottom: 0;
}
#program_table tr:hover {
    background-color: rgba(31,31,31,.1);
}
#program_table td {
    padding: 1em .5em;
}
#program_table td.program_time {
    text-align: left;
    width: 15%;
}
#program_table td a {
    text-decoration: none;
}
#program_table td a:hover {
    text-decoration: underline;
}


/* Twitter情報 */
.twitter_info {
    margin: 2em 0;
    font-weight: bold;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    column-gap: 1.2em;
}
.twitter_info a {
    margin-left: .25em;
    background-color: var(--c-text);
    padding: .25em .4em;
    border-radius: .25em;

    text-decoration: none;
    color: var(--c-background);
}
.twitter_info a:hover {
    text-decoration: underline;
}