:root {
    --c-background: #F6EABE;
    --c-text: #313131;
    --c-text-link: #3C5186;
}

.session {
    margin-bottom: 2em;
}
.session h2 {
    line-height: 1.2em;
    font-size: 1.2em;
}
.session h2 small {
    font-size: .75em;
}

.talk_list {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    margin: 1em 0;
}

.talk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: .25em;
    padding: .5em .5em;
}

.talk .icon {
    font-size: 1.25em;
    margin-right: 0.4em;
    width: 1em;
}
.talk .icon.normal::before {
    content: "\1F3A4";
}
.talk .icon.lt::before {
    content: "\26A1";
}
.talk .icon.panel::before {
    content: "\1F4AC";
}
.talk .info {
    width: 90%;
}
.talk .info .time {
    font-size: .75em;
    opacity: .9;
}
.talk .info .title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.talk .info .presenter {
    font-size: 0.8em;
}

.talk .btn_abstract,
.talk .btn_material {
    font-size: 0.75em;
    text-align: center;
    padding: 1em .5em;
    border-radius: .25em;
    background-color: var(--c-text);
    color: var(--c-background);
    width: 3.6em;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.talk a {
    text-decoration: none;
}
.talk .btn_abstract:hover,
.talk .btn_material:hover {
    opacity: 0.5;
}
.talk .disabled {
    opacity: .25;
    cursor: auto;
}
.talk .disabled:hover {
    opacity: .25;
}

.talk.heading .btn_abstract, .talk.heading .btn_material {
    opacity: 0;
}
.talk.heading .title {
    font-style: italic;
    font-weight: normal;
}

.program_legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5em;
}
.program_legend .icons, .program_legend .caveat {
    font-size: 0.8em;
}
.btn_abstract_all {
    font-size: 0.75em;
    text-align: center;
    padding: .75em .5em;
    border-radius: .25em;
    background-color: var(--c-text);
    color: var(--c-background);
    width: 11em;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.btn_abstract_all:hover {
    opacity: 0.5;
}

/* 概要のトグル */
.abstract {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s cubic-bezier(0, 1, 0, 1);

  margin-left: 2.75em;
  font-size: 0.9em;
}
.abstract.show {
    max-height: 50em;
    transition: max-height .25s ease-in-out;
    margin-bottom: 1.5em;
}


#sponsors-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    row-gap: 1.5em;
    margin-top: 3em;
}
.sponsor-item-small-blank {
    width: 194px;
    height: 1px;
}
#sponsors-small .sponsor-item-small .logo {
    width: 180px;
    height: 180px;
    background-color: #fff;
    border: 1px solid rgba(31,31, 31, 0.25);
    border-radius: 12px;
    padding: 5px;
    margin: 7px;
    margin-top: 0px;
    text-align: center;
}
#sponsors-small .sponsor-item-small .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#sponsors-small .sponsor-item-small a {
    text-decoration: none;
}
#sponsors-small .sponsor-item-small .text {
    font-size: 0.9em;
}
#sponsors-small .sponsor-item-small:hover .logo {
    border: 1px solid rgba(31,31, 31, 1);
}
#sponsors-small .sponsor-item-small:hover a {
    text-decoration: underline;
}